<% layout('/layouts/boilerplate.ejs') -%>
<div id="filters" class="filters sticky-top" class="filters" style="margin-top: 2rem;">
  <div class="row">
    <!-- Trending Filter -->
    <div class="filter col">
    <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
    </div>
    <!-- Bedrooms Filter -->
    <div class="filter col">
    <i class="fa-solid fa-bed"></i>
    <p>Bedrooms</p>
    </div>
  </div>
  <div class="tax-switch sticky col" id="tax-switch">

    <div class="form-check form-switch tax-form d-flex justify-content-end">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">After Taxes</label>
    </div>
  </div>
  </div>  


  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
    <%for(let listing of allListings) {%>
    
      <div class="card col listingCard">
        <a href="/listings/<%=listing._id%>" class="card-anchor">
        <img  class="card-img-top show-img"
          
          src="<%=listing.image.url%>"
          alt="listingImage"
          style="height: 20rem"
        />
        <!-- <div class="card-img-overlay"></div> -->
        <div class="card-body">
          <div class="card-text">
            <b> <%=listing.title%></b> 
            <p class="priceBeforeTax">&dollar;<%= listing.price.toLocaleString("en-US")%></p>
            <span class="priceValue"><%=listing.price%></span>
          </div>
        </a>
        </div>
      </div>
    <%}%>
  </div>
<script src="/taxes.js"></script>
