<% layout('/layouts/boilerplate.ejs') -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h2><%=listing.title%></h2>
  </div>
  <div class="card col-6 offset-2 listingCard">
    <img
      class="card-img-top show-img"
      src="<%=listing.image.url%>"
      alt="Listing Image"
    />
    <div class="card-body">
      <p class="card-text">
        <%=listing.description%> <br />
        <b> &dollar;<%= listing.price.toLocaleString("en-US")%></b><br />
        <%=listing.location%>, <%=listing.country%>
      </p>
    </div>
    <div class="buttons mt-2">
      <div class="edit-btn-div">
        <a
          href="http://localhost:8080/listings/<%=listing._id%>/edit"
          class="btn edit-btn"
        >
          Edit
        </a>
      </div>

      <div class="delete-btn-div">
        <form
          method="POST"
          action="http://localhost:8080/listings/<%=listing._id%>?_method=DELETE"
        >
          <button class="btn delete-btn">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <hr />
  <div class="review col-8 offset-3">
    <h4>Leave a review</h4>
    <div class="">
      <form
        class="mb-3 needs-validation"
        novalidate
        method="post"
        action="http://localhost:8080/listings/<%=listing._id%>/reviews"
      >
        <div>
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
            class="form-range"
          />
        </div>
        <div>
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            placeholder="Leave a Comment"
            rows="2"
            cols="50"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please Enter a Comment</div>
        </div>
        <button class="btn edit-btn mt-3">Submit</button>
      </form>
    </div>
    <hr />
    <h4>All Reviews</h4>
    <div class="row col-6">
      <%for(review of listing.reviews){%>

      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">Review</h5>
          <p class="card-text">Comment: <%=review.comment%></p>
          <p class="card-text">Rating: <%=review.rating%> stars</p>
        </div>
        <form
          class="mb-3 mt-2"
          method="POST"
          action="http://localhost:8080/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>

      <%}%>
    </div>
  </div>
</div>
